/* Стили для текста */
body {
  font-family: Arial, sans-serif; /* Выбираем шрифт */
  line-height: 1.6; /* Высота строки */
  color: #333; /* Цвет текста */
}

h1 {
  font-size: 32px; /* Размер заголовка h1 */
}

h3 {
  font-size: 18px; /* Размер заголовка h3 */
}

strong {
  font-weight: bold; /* Жирный текст */
}

/* Стили для гиперссылок */
a {
  color: #FF5733; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание ссылок */
}

a:hover {
  color: #FFA07A; /* Цвет ссылки при наведении */
}

body {
    color: white; /* устанавливаем цвет текста */
    background-color: black; /* устанавливаем цвет фона */
}
.rounded-image {
    border-radius: 10px; /* задаем радиус скругления в пикселях */
} 

body {
    font-family: 'Roboto Slab', serif;
}

button {
    background-color: #ff7300; /* Цвет фона кнопки */
    color: black; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругляем углы кнопки */
    font-size: 16px; /* Размер текста кнопки */
    cursor: pointer; /* Изменяем вид курсора при наведении на кнопку */
}


